body {
   background: #efeff1;
}

.backgroundImg {
    max-width: 100%;
}


.backgroundContainer{
    position: relative;
    width: 100%;
    text-align: center;
    color: #efeff1;
    font-size: 25px;
    /* display: flex; */
}

.fullName {
    position: absolute;
    bottom: 420px;
    left: 172px;
}

svg{
    max-width: 50px;
    position: absolute;
    top: 57.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    stroke: #efeff1;
    stroke-width: 3;
}

.backgroundTitle {
    position: absolute;
    bottom: 250px;
    right: 50px;
}

@media (max-width: 1200px){
    svg {
        position: absolute;
        top: 53%
    }
    .fullName{
        position: absolute;
        bottom: 400px;
        left: 150px;
    }
    .backgroundTitle{
        position: absolute;
        bottom: 222px;
        right: 44px;
    }
}

@media (max-width: 1024px){
    svg {
        position: absolute;
        top: 50.5%
    }
    .fullName{
        position: absolute;
        bottom: 340px;
        left: 120px;
        font-size: 22px;
    }
    .backgroundTitle{
        position: absolute;
        bottom: 188px;
        right: 25px;
        font-size: 22px;
    }
}




.personalDetailsContainer {
    display: flex;
    justify-content: space-around;

}

.personalDetailsCopy, .personalImage{
    max-width: 50%;
}

.personalDetailsImg{
    text-align: center;
}

.personalImage{
    min-width: 300px;
    min-height: 300px;

}

.projectsContainer{
    display: flex;
    /* justify-content: center; */
}

.projectContainer{
    text-align: center;
    padding-bottom: 20px;
}   

.projectTitle, .personalDetailsTitle{
    text-align: center;
    color: #001a2a;
}

.projectLink {
    /* border: 1px solid blacks; */
    padding-bottom: 10px;
    margin: 50px 10px;
}

.project-img {
    width: 300px;
    height: 200x
}

.projectCopy{
    padding-left: 10px;
    padding-right: 10px;
    color: #001a2a;
}

button {
    font-size: 10px;
    color: #001a2a;
    padding: 12px 22px;
    background: white;
}

button:hover {
    background-color: #001a2a;
    color: #efeff1;;
}

footer {
    display: flex;
    max-width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    background-color: #001a2a;
    padding: 3%;
    color: #efeff1;
}

.socialIcon {
    padding-left: 20px;
    padding-right: 20px;
    color: #efeff1;
}


@media (max-width: 600px) {
    #icon {
        max-width: 150px;
    }
    h2 {
        font-size: 1.7em;
    }
    
}

@media (max-width: 768px) {
    .caption {
        bottom: 64rem;
        position: absolute;
        left: 17rem;
        right: 19rem;
    }
}

@media (max-width: 1024px) {
    .caption {
        bottom: 55rem;
        position: absolute;
        left: 16rem;
    }
}

#icon {
    height: 200px;
    width: 300px;
    margin: 1% auto;
}


